<div class="container my-5">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">
        ¿ De quien pinga es este portafolio ?
      </h1>
      <br />
      <p class="lead">
        Me presento. Soy Benjamín Navarrete, un desarrollador web Full Stack Jr.
        La verdad no soy un afanado del Front-End como veran, pero me gusta
        mucho el Back-End, disfruto mucho de la programacion y de la resolucion
        de problemas algoritmicos. Actualmente estoy realizando ayudantias en la
        Universidad Finis Terrae para la materia de Ingenieria de Software.
        Constantemente realizo ejercicios en CodeWars para mejorar
        constantemente.
      </p>
      <img
        src="https://www.codewars.com/users/BNAV01/badges/large"
        alt="Badge"
      />
      <br /><br />
      <p class="lead">
        Si quieres saber mas de mi, puedes visitar mis redes sociales o enviarme
        un correo.
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div> -->
      </p>
    </div>

    <!-- <div class="col-lg-3 offset-lg-2 p-3 overflow-hidden shadow-lg d-flex justify-content-center">
        <img src="https://thumbs.dreamstime.com/z/un-gato-vestido-con-traje-sostiene-maletín-en-la-calle-de-rascacielos-ilustración-ciudad-ai-generativa-generativo-269669377.jpg?ct=jpeg" 
             alt="Gato con traje" 
             class="img-fluid rounded-lg" 
             style="object-fit: cover; width: 90%; height: auto; border-radius: 15px;">
      </div> -->
  </div>
</div>
