<div class="container my-5">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">
        ¿ De que trata este sitio web?
      </h1>
      <br />
      <p class="lead">
        ¿Te cuesta elegir qué beber? ¡No te preocupes más! En nuestra plataforma, te ofrecemos recomendaciones personalizadas de cócteles y licores basadas en tus gustos y preferencias. Nuestro sistema de recomendación inteligente aprende de tus elecciones anteriores para ayudarte a descubrir bebidas que se adaptan a tu estilo y a cada ocasión.
      </p>
      
      <h3>¿Cómo Funciona?</h3>
      <p>
        Es muy sencillo. Solo tienes que seguir estos tres pasos:
      </p>
      
      <ul>
        <li><strong>Crear tu perfil:</strong> Cuéntanos sobre tus licores favoritos, sabores preferidos, y el tipo de ambiente en el que te gusta disfrutar de tus bebidas.</li>
        <li><strong>Explorar nuestras recomendaciones:</strong> Basándonos en tu perfil, te sugeriremos una lista de cócteles y licores que creemos que disfrutarás. ¿Prefieres algo refrescante o algo más fuerte? ¡Tenemos algo para ti!</li>
        <li><strong>Calificar y mejorar las sugerencias:</strong> Después de probar nuestras recomendaciones, puedes calificarlas para que nuestro sistema afine las sugerencias y se adapten aún más a tus gustos.</li>
      </ul>
      
      <p>
        Nuestro objetivo es que cada visita a nuestra página sea una oportunidad para descubrir un cóctel perfecto que se ajuste a tu estado de ánimo y preferencias.
      </p>
      
      <h3>Características Principales</h3>
      <ul>
        <li><strong>Recomendaciones Personalizadas:</strong> Un sistema de inteligencia artificial que sugiere las mejores combinaciones basadas en lo que más te gusta.</li>
        <li><strong>Explora Cócteles y Licores:</strong> Una base de datos completa con recetas de cócteles, licores, y combinaciones populares.</li>
        <li><strong>Guía de Preparación:</strong> Instrucciones detalladas para preparar tus bebidas favoritas como un verdadero profesional.</li>
      </ul>
      
      <p>
        Únete a la experiencia y empieza a descubrir nuevas opciones para cada ocasión. ¡Salud!
      </p>
      <img
        src="https://img.lalr.co/cms/2020/05/20180542/ocio_cocteles_p28-29_1080.jpg?size=xl"
        alt="Badge"
      />
      <br /><br />
    
    </div>

    <!-- <div class="col-lg-3 offset-lg-2 p-3 overflow-hidden shadow-lg d-flex justify-content-center">
        <img src="https://thumbs.dreamstime.com/z/un-gato-vestido-con-traje-sostiene-maletín-en-la-calle-de-rascacielos-ilustración-ciudad-ai-generativa-generativo-269669377.jpg?ct=jpeg" 
             alt="Gato con traje" 
             class="img-fluid rounded-lg" 
             style="object-fit: cover; width: 90%; height: auto; border-radius: 15px;">
      </div> -->
  </div>
</div>
