<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">MIXMASTER</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!-- Enlace a Inicio -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
      </li>

      <!-- Enlace a Sobre este sitio -->
      <li class="nav-item">
        <a
          class="nav-link"
          href="http://localhost:4200/#Top:~:text=%C2%BF%20De%20quien%20pinga%20es%20este%20portafolio%20%3F"
          >Sobre este sitio</a
        >
      </li>

      <!-- Enlace al GitHub -->
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/kevshupp/MixMaster-FrontEnd"
          target="_blank"
          >GitHub repo</a
        >
      </li>

      <!-- Nuevo Enlace: Sign Up -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
