<header>
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://thumbs.dreamstime.com/b/bebidas-alcoh%C3%B3licas-refrescantes-con-vapor-de-humo-vertiendo-por-el-vaso-celebraci%C3%B3n-festiva-halloween-y-vida-nocturna-conceptos-220916498.jpg?w=400');
      height: 210px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">MIXMASTER</h1>
          <h4 class="mb-3">Sistema de recomendaciones para alcoholicos</h4>
          <a
            data-mdb-ripple-init
            class="btn btn-outline-light btn-lg"
            href=""
            role="button"
            >Botón Inutil (Efectivamente) </a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
